option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "yarn start"
    NodeVersion: "20.x"

commands:
  01_install_yarn:
    command: |
      curl --silent --location https://dl.yarnpkg.com/rpm/yarn.repo | sudo tee /etc/yum.repos.d/yarn.repo
      sudo yum install -y yarn

  02_yarn_install:
    command: |
      cd /var/app/current
      yarn install --production