.applyBtn {
  color: "#FFE7DF";
  background-color: "transparent";
  border: "1px solid #FFE7DF";
  borderradius: "10px";
  cursor: "pointer";
  padding: "1rem 2rem";
  fontweight: "bold";
}

.applyBtn:hover {
  background-color: "#FFE7DF";
}
