@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "NanumSquare";
  src: local("NanumSquare Regular"),
  url("/asset/NanumFontSetup_TTF_SQUARE/NanumSquareR.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquare";
  src: local("NanumSquare Bold"),
  url("/asset/NanumFontSetup_TTF_SQUARE/NanumSquareB.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html > body {
  padding: 0;
  margin: 0;
  font-family: NanumSquare, sans-serif;
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.bolder {
  font-weight: 800;
}
.light {
  font-weight: 300;
}
a {
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}

* {
  box-sizing: border-box;
}

main {
  position: relative;
  /* width: 100%;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
  position: relative;

  width: 100%;
  margin: 0 auto;
}

footer {
  position: relative;
  bottom: 0;
  max-width: 28rem;
  width: 90%;
  margin: 0 auto;
  color: grey;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.timeslots-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.timeslots-wrapper {
  margin-top: 1rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.timeslot {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: solid 1px #0070f3;
  /* background-color: #0070f3; */
  color: #0070f3;
  overflow: hidden;
  width: 76px;
  height: 36px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
.time {
  line-height: 36px;
  vertical-align: middle;
}

.bg {
  background-image: url("/bg.svg");
  background-repeat: no-repeat;
}

/*.applyBtn {*/
/*  color: "#FFE7DF" !important;*/
/*  background-color: "transparent" !important;*/
/*  border: "1px solid #FFE7DF" !important;*/
/*  borderradius: "10px" !important;*/
/*  cursor: "pointer" !important;*/
/*  padding: "1rem 2rem" !important;*/
/*  fontweight: "bold" !important ;*/
/*}*/

/*.applyBtn:hover {*/
/*  background-color: "#FFE7DF" !important;*/
/*}*/
